<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="ac.kr.kongdesert.model.Goods" alias="Goods"/>
		<typeAlias type="ac.kr.kongdesert.model.Point" alias="Point"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mybatis/Goods.xml"/>
		<mapper resource="mybatis/Point.xml"/>
	</mappers>
</configuration>